requests>=2.4.1
apache-libcloud==0.20.1
threepio==0.2.0
rfive==0.2.0
python-irodsclient==0.4.0
python-cinderclient==1.9.0
python-glanceclient==2.5.0
python-keystoneclient==3.6.0
python-neutronclient==6.0.0
python-novaclient==6.0.0
python-swiftclient==3.1.0
python-openstackclient==3.3.0
pbr>=1.8,<2.0
